<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Groups_page</title>
</head>
<body>
    <header>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png" alt="g-logo">
        <h1 id="logo-header">Split Bill</h1>
        <h2 id="logo-h2">BEST IN MARKET</h2>
    </header>
    <h3 id="new-h3">Select Your Group</h3>
    <div id="group-div"></div>

    <form id="group-form">
        <h3>Add group</h3>
        <label for="group-id">Group ID</label>
        <input type="text" id="group-id">
        <button type="submit" id="add-button">Add</button>
    </form>

    <script src="./groupsScript.js" type="module" defer></script>
</body>
</html>